## Exception handling in Python

In [1]:
lst = [4, 9, 1, 10, 50]
lst[6]

IndexError: list index out of range

In [5]:
string = "string"
# string = "1234"
print(int(string))

ValueError: invalid literal for int() with base 10: 'string'

In [6]:
1/0

ZeroDivisionError: division by zero

In [7]:
var = 10
print(var2)

NameError: name 'var2' is not defined

In [10]:
for i in range(10):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (3979827255.py, line 2)

In [13]:
val = 8
if val > 10:
    print("Value is greater than 10")
else:
    raise Exception("Value is not correct")

Exception: Value is not correct

In [ ]:
# import pandas as pd

In [15]:
numerator = 50
denom = 1
try:
    quotient=(numerator/denom)
    print(quotient)
    print ("Division performed successfully")
except Exception as es:
    print(es)
    print ("Denominator as ZERO.... not allowed")
    print("OUTSIDE try..except block")

50.0
Division performed successfully

In [18]:
try:
    numerator=50
    denom=int(input("Enter the denominator: "))
    print (numerator/denom)
    print ("Division performed successfully")
except ZeroDivisionError:
    print ("Denominator as ZERO is not allowed")
except ValueError:
    print ("Only INTEGERS should be entered")

Enter the denominator: string
Only INTEGERS should be entered

In [21]:
try:
    numerator=50
    denom=int(input("Enter the denominator: "))
    quotient=(numerator/denom)
    print ("Division performed successfully")
except ZeroDivisionError:
    print ("Denominator as ZERO is not allowed")
except ValueError:
    print ("Only INTEGERS should be entered")
else:
    print ("The result of division operation is ", quotient)

Enter the denominator: 5
Division performed successfully
The result of division operation is  10.0

In [24]:
try:
    numerator=50
    denom=int(input("Enter the denominator: "))
    quotient=(numerator/denom)
    print ("Division performed successfully")
except ZeroDivisionError:
    print ("Denominator as ZERO is not allowed")
except ValueError:
    print ("Only INTEGERS should be entered")
else:
    print ("The result of division operation is ", quotient)
finally:
    print ("OVER AND OUT")

Enter the denominator: string
Only INTEGERS should be entered
OVER AND OUT