# Python Data Types
05, 06 July 2023

###### It represents the kind of value that tells what operations can be performed on a particular data.

### int

In [2]:
i = 10
print(type(i))

<class 'int'>

In [3]:
var = -20
print(type(i))

<class 'int'>

In [5]:
var = 1.0
print(type(var))

<class 'float'>

In [6]:
lst = [1, 2, 3, 4, 5]
print(type(lst))

<class 'list'>

In [7]:
none = None
print(type(none))

<class 'NoneType'>

In [9]:
var = 10
var = 20
srting = "System"
try:
    string[1] = 'k'
    print('value changed.')
except:
    print('Can not change.')

Can not change.

In [13]:
## when you try to update a string character, it gives you error because str is immutable
string = "System"
string[1] = 'k'

TypeError: 'str' object does not support item assignment

### float

In [117]:
flot = 3.24
print(type(flot))

<class 'float'>

In [119]:
flot = 3
print(type(flot))

<class 'int'>

In [120]:
flot = 3.14
print(type(flot))

<class 'float'>

### Strings

In [14]:
st = 'a'
st2 = 'ab'
st3 = "ab"
st4 = """this is a multi 
line string"""

In [15]:
print(type(st))

<class 'str'>

In [16]:
print(type(st2))

<class 'str'>

In [17]:
print(type(st3))

<class 'str'>

In [18]:
print(type(st4))

<class 'str'>

In [24]:
string = "Python"
len(string)
# string[0]
# string[1]
# string[2]
# string[3]
# string[-1]
string[6]

IndexError: string index out of range

In [26]:
## concatenation
str1 = "Hello"
str2 = "World"
str3 = str1 + ' ' + str2
print(str3)

Hello World

In [27]:
## Repetition
str1 = "Hello"
str2 = str1*3
print(str2)

HelloHelloHello

In [31]:
## membership
str1 = "Hello World"

## in, not in

str2 = "Hello"

str2 not in str1

False

In [38]:
## slicing
str1 = "Hello World"

## str[m:n] from m to n-1
## by default m is 0.
## by default n is n-1
## by default step is 1

str1[3:-3:2]

'l o'

In [48]:
## built in functions for strings

string = "Python1"
## length of string
len(string)

7

In [43]:
## convert all chars to upper case
string.upper()

'PYTHON'

In [44]:
## convert all chars to lower case
string.lower()

'python'

In [49]:
## check if all chars are alphabets
string.isalpha()

False

In [50]:
## check if all chars are alphabets or numeric
string.isalnum()

True

In [51]:
## check if all chars are numeric
string.isdigit()

False

In [52]:
## find a substring, retruns the index where substring is found
string.find('thon')

2

##### Input Function in Python
Python input() function is used to take user input. By default, it returns the user input in form of a string.

str = input(prompt)

prompt(optionsl): any string value to display as input message

### Problem 1

Write a program to input line(s) of text from the user until enter is pressed. Count the total number of characters in the text (including white spaces),total number of alphabets, total number of digits, total number of special symbols and total number of 
words in the given text. (Assume that each word is separated by one space).

### List

In [58]:
## indices always starts from 0 and goes till lenth - 1
lst = [5, "New Delhi", 3.24, "abac", 60, [1,2,3], 5]
arry = [5, 10, 20, 25, 50]

print(type(lst))
print(type(arry))

<class 'list'>
<class 'list'>

In [60]:
lst[2]

3.24

In [61]:
lst[2] = 5.94

In [62]:
lst

[5, 'New Delhi', 5.94, 'abac', 60, [1, 2, 3], 5]

In [64]:
## concatenation
lst = [5, "New Delhi", 3.24, "abac", 60, [1,2,3], 5]
arry = [5, 10, 20, 25, 50]
print(lst + arry)

[5, 'New Delhi', 3.24, 'abac', 60, [1, 2, 3], 5, 5, 10, 20, 25, 50]

In [65]:
## Repetition
arry = [5, 10, 20, 25, 50]
print(arry*3)

[5, 10, 20, 25, 50, 5, 10, 20, 25, 50, 5, 10, 20, 25, 50]

In [67]:
## Membership
arry = [5, 10, 20, 25, 50]
67 in arry

False

In [69]:
## Slicing
arry = [5, 10, 20, 25, 50]
# arry[0:3]
len(arry)

5

In [71]:
string = "Python"
lst = list(string)
# type(lst)
print(lst)

['P', 'y', 't', 'h', 'o', 'n']

In [77]:
## append
arry = [5, 10, 20, 25, 50]
var = [1,2,4]
arry.append(var)
arry

[5, 10, 20, 25, 50, [1, 2, 4]]

In [76]:
## extend
arry = [5, 10, 20, 25, 50]
var = [1,2,4]
arry.extend(var)
arry

[5, 10, 20, 25, 50, 1, 2, 4]

In [81]:
## insert
arry = [5, 10, 20, 25, 50]
## insert(index, value)
arry.insert(1, 100)
print(arry)

[5, 100, 10, 20, 25, 50]

In [85]:
## count
arry = [5, 10, 20, 25, 50, 10, 10]
print(arry.count(10))
print(arry)

3
[5, 10, 20, 25, 50, 10, 10]

In [90]:
## index
arry = [5, 10, 20, 25, 50, 10, 10]
print(arry.index(20))
# print(arry)

2

In [91]:
## remove
# remove(value)
arry.remove(20)
print(arry)

[5, 10, 25, 50, 10, 10]

In [93]:
## pop
# pop(index)
arry = [5, 10, 20, 25, 50, 10, 10]
arry.pop(2)
print(arry)

[5, 10, 25, 50, 10, 10]

In [103]:
## reverse a list
arry.reverse()
print(arry)

[10, 10, 50, 25, 10, 5]

In [104]:
# sorted() method sorts the given sequence as well as set and dictionary(which is not a sequence) 
# either in ascending order or in descending order(does unicode comparison for string char by char) 
# and always returns the a sorted list. 
sorted(arry)

[5, 10, 10, 10, 25, 50]

In [105]:
# sort() function is very similar to sorted() but unlike sorted it returns nothing and "makes changes to the original sequence". 
# Moreover, sort() is a method of list class and "can only be used with lists". 
arry.sort()
print(arry)

[5, 10, 10, 10, 25, 50]

In [106]:
## find minimum value from a list
min(arry)

5

In [107]:
## find maximum value from a list
max(arry)

50

In [108]:
## Sum of all the elements
sum(arry)

110

In [115]:
## nested list
lst = [[1, 2, 4], 
       [3, 5, 8], 
       [2, 6, 21]]


# print(len(lst))
# lst[0][2]
print(lst[0][0])

1

In [116]:
lst = [1, 2, 4]
lst2 = lst
print(lst2)

[1, 2, 4]

In [121]:
## Inplace and Outplace sorting

### Problem 2

Write a program to read a list of n integers (positive as well as negative). Create two new lists, one having all positive numbers and the other having all negative numbers from the given list. Print all three lists.

### Tuple

In [131]:
## tuple
val = (10,"Python", 3.14, 50, "India")
val1 = (10,)
val2 = (10)

print(type(val1))
print(type(val2))

<class 'tuple'>
<class 'int'>

In [132]:
## Immutability
vals = (1, 2, 3, 4, 5, 6, 7)
vals[2] = 10

TypeError: 'tuple' object does not support item assignment

In [133]:
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6)

In [134]:
## repetition
tup2 = (4, 5, 6)
tup3 = tup2 *3
print(tup3)

(4, 5, 6, 4, 5, 6, 4, 5, 6)

In [137]:
## membership
tup2 = (4, 5, 6)
# 6 in tup2
10 in tup2

False

In [138]:
# len(), tuple(), count(), max(), min(), sum(), sorted()

len(tup2)

3

In [140]:
lst = [1, 2, 3, 4, 5]
tup = tuple(lst)
print(tup)
print(type(tup))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [141]:
tup.count(2)

1

In [142]:
## min 
min(tup)

1

In [143]:
max(tup)

5

In [144]:
sum(tup)

15

In [145]:
## sorted
sorted(tup)

[1, 2, 3, 4, 5]

### Problem 3

Write a program to input names of n students and store them in a tuple. Also, input a name from the user and find if 
this student is present in the tuple or not.

### Sets

In [149]:
## set
st = {1, 2, 3, "New Delhi", 3}
print(st)
print(type(st))

{'New Delhi', 1, 2, 3}
<class 'set'>

In [150]:
## immutable
st[0] = 50

TypeError: 'set' object does not support item assignment

In [153]:
## conversion to set
lst = [1, 5, 10, 50, 90, 90]
print(type(lst))
st = set(lst)
print(type(st))
print(st)

<class 'list'>
<class 'set'>
{1, 5, 10, 50, 90}

### Problem 4

Write a program to find unique elements in a list. Create a list or take input from user. Progeam should print all the qunique values in the input list.

### None

In [154]:
var = None
type(var)

NoneType

In [158]:
val = False
print(type(val))

<class 'bool'>

### Dictionary

In [159]:
dct = {"city" : "Delhi",
      "Area" : "Hauz khas",
      "Country" : "India"}

print(type(dct))

<class 'dict'>

In [160]:
## accessing the element
dct["Area"]

'Hauz khas'

In [165]:
## modification
dct["Area"] = "New Delhi"
dct

{'city': 'Delhi', 'Area': 'New Delhi', 'Country': 'India'}

In [168]:
## adding a new key value pair
dct["PIN"] = [2094, 3625]
dct

{'city': 'Delhi', 'Area': 'New Delhi', 'Country': 'India', 'PIN': [2094, 3625]}

In [162]:
# dct.items()
for key, value in dct.items():
    print(key, value)

city Delhi
Area Hauz khas
Country India

In [163]:
dct.keys()

dict_keys(['city', 'Area', 'Country'])

In [164]:
dct.values()

dict_values(['Delhi', 'Hauz khas', 'India'])

In [170]:
## membership works only on keys
# 'city' in dct
"Delhi" in dct

False

In [171]:
"Delhi" in dct.values()

True

In [172]:
len(dct)

4

In [175]:
## defining a dictionary
var1 = {}
print(type(var1))
var = dict()
print(var)
print(type(var))

<class 'dict'>
{}
<class 'dict'>

In [176]:
dct.items()

dict_items([('city', 'Delhi'), ('Area', 'New Delhi'), ('Country', 'India'), ('PIN', [2094, 3625])])

In [178]:
## get
# dct["city"]
dct.get("city")

'Delhi'

In [179]:
## update
kv = {"Name" : "Someone"}
dct.update(kv)
dct

{'city': 'Delhi',
 'Area': 'New Delhi',
 'Country': 'India',
 'PIN': [2094, 3625],
 'Name': 'Someone'}

In [183]:
# del(dct["city"])
dct

{'Area': 'New Delhi',
 'Country': 'India',
 'PIN': [2094, 3625],
 'Name': 'Someone'}

In [187]:
## clears all the elements
dct.clear()

In [188]:
dct

{}

In [189]:
## delete the dictionary
del dct

In [190]:
dct

NameError: name 'dct' is not defined

In [198]:
## nested list
lst = [
        [1, 2, 4], 
       [3, 5, 8], 
       [2, 6, 21]
        ]

dct = {
        "Employee1" : {"Name" : "Ankit",  "City" : "Raipur", "Phone" : 864327}, 
    
       "Employee2" : {"Name" : "Ram",  "City" : "Delhi", "Phone" : 654092},
    
      "Employee3" : {"Name" : "Jhon",  "City" : "Pune", "Phone" : 985428}
      }

# dct["Employee2"]["City"]
# dct["Employee2"]["Phone"]

for key, val in dct.items():
    print(key, " >>", val)
    for key1, val1 in val.items():
        print(key1, val1)

Employee1  >> {'Name': 'Ankit', 'City': 'Raipur', 'Phone': 864327}
Name Ankit
City Raipur
Phone 864327
Employee2  >> {'Name': 'Ram', 'City': 'Delhi', 'Phone': 654092}
Name Ram
City Delhi
Phone 654092
Employee3  >> {'Name': 'Jhon', 'City': 'Pune', 'Phone': 985428}
Name Jhon
City Pune
Phone 985428

### Problem 5

Write a program to input your friendsâ€™ names and their Phone Numbers and store them in the dictionary as the key-value pair. Perform the following operations on the dictionary:

a) Display the name and phone number of all your friends

b) Add a new key-value pair in this dictionary and display the modified dictionary

c) Delete a particular friend from the dictionary

d) Modify the phone number of an existing friend

e) Check if a friend is present in the dictionary or not

f) Display the dictionary in sorted order of names. [Hint : use sorted() method]